@model IEnumerable<RentingVehicles.Models.AddVehicleModel>

@{
    ViewBag.Title = "ViewMyVehicle";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>ViewMyVehicle</h2>

<p>
    @Html.ActionLink("AddVehicle", "User")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehiclePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleAddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleAddBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleImageAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleMilage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.VehicleID)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehiclePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleAddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleAddBy)
        </td>
        <td>
          <img height="100px" width="100px" src=@item.VehicleImageAddress />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleMilage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.City)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Location)
        </th>
      
        </tr>
}

</table>
